
#banner {
	width: 100%;
	background: url('../images/8banner.jpg') no-repeat center;
	height: 150px;
}
#content {
	margin-top: 20px;
}
#content #ctop h6 {
	margin-top: 15px;
	font-size: 14px;
	font-weight: normal;
	line-height: 30px;
	border-bottom: 1px dashed #999;
}
#content h2 {
  font-size: 20px;
  color: #f08d18;
  height: 40px;
  line-height: 40px;
  border-bottom: 2px solid #4b4a48;
}
#content h2 a {
	font-size: 12px;
  color: #272727;
  float: right
}
#content h2 a:hover {
  color: #f08d18;
}
#content #left {
	width: 770px;
	/* height: 2000px; */
	float: left;
	padding-bottom: 20px;
}
#content #left #ltop div{
	width: 770px;
	height: 40px;
	margin: 30px 0;
}
#content #left #ltop p{
  width: 80px;
  float: left;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #fff;
  background: #01a89e;
  text-align: center;
}
#content #left #ltop a{
	display: inline-block;
	float: left;
	font-size: 13px;
	margin-top: 15px;
	margin-left: 30px;
}
#content #left #ltop .lf {
	color: #01a89e;
	font-weight: bold;
}
#content #lb ul li {
	width: 700px;
  height: 100px;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 10px;
}
#content #lb ul li div{
	float: left;
}
#content #lb ul li .carimg {
	width: 120px;
	height: 90px;
	text-align: center;
}
#content #lb ul li .carsx {
	width: 200px;
	height: 60px;
	margin: 10px 50px;
}
#content #lb ul .lbf {
	border-top: 1px solid #dddddd ;
	padding-top: 15px;
}
#content #lb ul li .carsx .cm {
  font-size: 16px;
  font-weight: bold;
  line-height: 35px;
  color: #f08d18;
}
#content #lb ul li .carsx .lx {
	line-height: 24px;
}
#content #lb ul li .carp {
	width:250px;
	height: 35px;
	float: right;
}
#content #lb ul li .carp span {
  font-size: 24px;
  color: #f08d18;
  font-weight: bold;
  line-height: 35px;
}
#content #right #c1r {
	width: 305px;
	height: 254px;
	margin-left: 20px;
	float: left;
}
#content #right #c1r h2{
	width: 305px;
	margin-bottom: 10px;
}
#content #right #c1r h2 a{
	float: right;
	font-size: 12px;
	color: #333;
}
#content #right  #c1r a{
	display: block;
	text-align: center;
	color: #fff;
	font-size: 16px;
	float: left;
}
#content #right  #c1r a:hover {
	color: #333;
	font-weight: bold;
}
#content #right  #c1r .a1{
	width: 133px;
	height: 129px;
	line-height: 130px;
	background: #F8931F;
	margin-right: 6px;
	margin-bottom: 6px;
}
#content #right  #c1r .a2{
	width: 166px;
	height: 62px;
	line-height: 62px;
	background: #F15A25;
	margin-bottom: 6px;
}
#content #right  #c1r .a3{
	width: 166px;
	height: 62px;
	line-height: 62px;
	background: #01A89E;
	margin-bottom: 6px;
}
#content #right  #c1r .a4{
	width: 80px;
	height: 63px;
	line-height: 63px;
	margin-right: 6px;
	background: #01A89E;
}
#content #right  #c1r .a5{
	width: 79px;
	height: 63px;
	line-height: 63px;
	margin-right: 6px;
	background: #F15A25;
}
#content #right  #c1r .a6{
	width: 134px;
	height: 63px;
	line-height: 63px;
	background: #F8931F;
}
#right #c3r {
	float: left;
	margin-left: 20px;
	width: 305px;
}
#right #c3r ul li {
	width: 305px;
	height: 75px;
	margin: 20px 0;
}
#right #c3r ul li img {
	width: 130px;
	height: 75px;
	float: left;
}
#right #c3r ul li a {
	margin:5px;
	font-weight: bold;
	color: #272727;
}
#right #c3r ul li p{
	text-indent: 2em;
	line-height: 22px;
}